.ContactinfoLine {
    width: 100%;  
    height: 30px;
    bottom: 0px;
    position:fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#SeperatelineBg {
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    background: #634E71;
}

#ContactinfoLineAddressPic { left: 40%; order: 1; }

#Seperateline0th { left: 42%; order: 2; }

#KatowiceUlBogucicka534 { left: 43%; order: 3; }

#Seperateline1st { left: 61.5%; order: 4; }

#ContactinfoLineEmailPic { left: 62.5%; order: 5; }

#DoggosProductionGmailCom { left: 65%; order: 6; }

#Seperateline2nd { left: 84%; order: 7; }

#ContactinfoLineCallPic { left: 85%; order: 8; }

#Tel48491825420 { left: 87%; order: 9; }

#Seperateline3rd { left: 99.5%; order: 10; }

.Pictu{ width: 30px; height: 30px; top: 0px;}

.Text{
    color: white;
    text-align: center;
    font-size: 25px;
    word-wrap: break-word;
    font-family: DM Sans;
    font-weight: 400;
}

.Line{
    border: 1px black solid;
    transform: rotate(90deg);
    top:5px;
    transform-origin: 0 0;
    width: 20px;
}

#Seperateline0th,#ContactinfoLineAddressPic,#ContactinfoLineCallPic,#ContactinfoLineEmailPic,#Seperateline1st,#Seperateline2nd,#Seperateline3rd,#SeperatelineBg,#Tel48491825420,#DoggosProductionGmailCom,#KatowiceUlBogucicka534 {
    display: flex;
    position: absolute;
}