.container {
    left: 2px;
    top: 120px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.horizontal-line {
    top: 38px;
    width: 391px;
    border: 3px black solid;
}

.vertical-line {
    top: 38px;
    left: 200px;
    width: 88px;
    transform-origin: 0 0;
    transform: rotate(90deg);
    border: 1px black solid;
}

.info-box {
    top: 43px;
    left: 213px;
    width: 180px;
    height: 75px;
}

.info-box .label {
    color: black;
    font-weight: 400;
    text-align: center;
    font-family: DM Sans;
    word-wrap: break-word;
}

.profile-box {
    top: 0px;
    left: 6px;
    height: 116px;
    width: 177.50px;
}

.profile-box .label {
    top: 0px;
    color: black;
    font-weight: 400;
    text-align: center;
    font-family: DM Sans;
    word-wrap: break-word;
}

.profile-box .label.type { top: 38px; font-size: 25px; }
.profile-box .label.name { top: 20px; font-size: 15px; }
.profile-box .label.race { top: 66px; font-size: 20px; }
.profile-box .label.age  { top: 90px; font-size: 20px; }

.info-box .label.sex    { left: 115px; top: 42px; font-size: 25px; }
.info-box .label.status { left: 115px; top: 23px; font-size: 20px; }
.info-box .label.weight { left: 115px; top: 0px;  font-size: 20px; }

.line.line1 { top: 20px; }
.line.line2 { top: 43px; }
.line.line3 { top: 67px; }
.line.line4 { top: 63px; }
.line.line5 { top: 86px; }
.line.line6 { top: 110px; }

.labelName{ left: 45px; font-size: 15px; }
.line { width: 82px; border: 1px black solid; }
.labelSex,.labelStatus,.labelWeight { font-size: 20px; }
.profile-box .line { width: 80px; left: 95.50px; border: 1px black solid; }
.horizontal-line,.vertical-line,.info-box,.line,.profile-box,.container,.info-box .label,.profile-box .label { position: absolute; }
.labelName,.labelType,.labelRace,.labelAge{ bottom: 0px; left: 95px; font-size: 20px;position: absolute; }