.container {
    left: 0px;
    top: 125px;
    z-index: 1;
    height: 100%;
    pointer-events: none;
}

.line {
    top: 0px;
    width: 40%;
    color: black;
    font-weight: 400;
    text-align: center;
    font-family: DM Sans;
    word-wrap: break-word;
    border: 1px black solid;
}

.label {
    top: 0px;
    left: 100px;
    color: black;
    font-weight: 400;
    text-align: center;
    font-family: DM Sans;
    word-wrap: break-word;
}

.paragraph { font-size: 20px; }

#horizontal-line {
    top: 37px;
    width: 393px;
    border: 3px black solid;
}

#vertical-line {
    top: 38px;
    left: 200px;
    width: 85px;
    transform-origin: 0 0;
    transform: rotate(90deg);
    border: 1px black solid;
}

#info-box-Right {
    top: 43px;
    left: 213px;
    width: 180px;
    height: 75px;
}

#info-box-Left {
    top: 0px;
    left: -80px;
    height: 116px;
    width: 177.50px;
}

#label-type { top: 39px; font-size: 25px; }
#label-name { top: 20px; font-size: 15px; }
#label-race { top: 66px; font-size: 20px; }
#label-age  { top: 90px; font-size: 20px; }

#label-sex    { left: 115px; top: 42px; font-size: 25px; }
#label-status { left: 115px; top: 23px; font-size: 20px; }
#label-weight { left: 115px; top: 0px;  font-size: 20px; }

#linyline1 { top: 20px; }
#linyline2 { top: 43px; }
#linyline3 { top: 67px; }

#linyline4 { top: 63px; left:  195px; }
#linyline5 { top: 86px; left:  195px; }
#linyline6 { top: 110px; left: 195px; }

#paragraphType,#paragraphName,#paragraphRace,#paragraphAge  { bottom: 0px; left: 95px; position: absolute; }
.container,.label,.line,#horizontal-line,#vertical-line,#info-box-Left,#info-box-Right { position: absolute; }
#paragraphName { left: 50px; }