.ContactinfoLine {
    width: 100%;  
    height: 30px;
    bottom: 0px;
    position:absolute;
}

.SeperatelineBg {
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    position: relative  ;
    background: #42C9F3;
}

.Seperateline3rd {
    width: 20px;
    left: 98%;
    top: 5px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px black solid;

}

.Seperateline2nd {
    width: 20px;
    height: 0px;
    left: 81%;
    top: 5px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px black solid;
}

.Seperateline1st {
    width: 20px;
    height: 0px;
    left: 57%;
    top: 5px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px black solid;
}

.Tel48491825420 {
    left: 85%;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: DM Sans;
    font-weight: 400;
    word-wrap: break-word;
}

.ContactinfoLineCallPic {
    height: 30px;
    left: 82%;
    top: 0px;
    position: absolute;
}

.DoggosProductionGmailCom {
    left: 61%;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.ContactinfoLineEmailPic {
    height: 30px;
    left: 58%;
    top: 0px;
    position: absolute;
}

.KatowiceUlBogucicka534 {
    width: 366.22px;
    left: 37%;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.ContactinfoLineAddressPic {
    height: 30px;
    left: 36%;
    top: 0px;
    position: absolute;
}
.ContactinfoLineAddressPic,.ContactinfoLine,.ContactinfoLineCallPic,.ContactinfoLineEmailPic,.Seperateline1st,.Seperateline2nd,.Seperateline3rd,.SeperatelineBg,.Tel48491825420,.DoggosProductionGmailCom,.KatowiceUlBogucicka534 {
  
    z-index: 2;
}