#Sex{
color: #E0E0E0;
 font-size: 16px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#Status{
color: #E0E0E0;
 font-size: 16px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#Weight{
color: #E0E0E0;
 font-size: 20px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#Age{
color: #E0E0E0;
 font-size: 16px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#With_us{
color: #E0E0E0;
 font-size: 16px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#Type{
color: #E0E0E0;
 font-size: 20px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#Name:{
color: #E0E0E0;
 font-size: 20px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#SUPPORT US{
color: black;
 font-size: 25px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#OUR_ANIMALS{
color: black;
 font-size: 25px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#LOG_OUT{
color: black;
 font-size: 25px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#NameHektor{
color: #E0E0E0;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
#Add_new{
color: #E0E0E0;
 font-size: 20px;
 font-family: DM Sans;
 font-weight: 400;
 word-wrap: break-word
}
#Info{
color: #E0E0E0;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
#Tel {
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
#email{
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
#street{
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
