.MainframeAdmin {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #524F4F; 
    overflow-y: scroll; 
}
.MainframeAdmin::-webkit-scrollbar-track {
    background-color: #404040; /* Track background */
    border: 1px solid #000; /* Track border */
  }
  
  /* Customizes the scrollbar's thumb */
  .MainframeAdmin::-webkit-scrollbar-thumb {
    background-color: #737272; /* Thumb background */
    border-radius: 10px; /* Thumb border radius */
    border: 1px solid #000080 ; /* Thumb border */
  }
  
  /* Customizes the scrollbar itself */
  .MainframeAdmin::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
  }
.MainWindow {
    height: 100%;
    padding: 0px;
    margin-bottom: 75px;
    margin-left: 100px;
}

.Texts {
    top: -10px;
    left: 75px;
    color: black;
    font-size: 22px;
    text-wrap:nowrap;
    font-weight: 800;
    text-align: center;
    pointer-events: none;
    font-family: 'DM Sans';
}

#search-input {
    top: 2px;
    z-index: 1;
    border: 0px;
    width: 750px;
    height: 54px;
    font-size: 22px;
    position: relative;
    background: #FFF7F7;
}

.MenuTop {
    display: flex;
    justify-content:right;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
    z-index: 2;
    width: 100%;
    height: 75px;
    position: relative;
    background: #7D7C7C;
}

#Ourpets {
    top: 10px;
    left: 67%;
    width: 275px;
    height: 55px;    
}


#HeartWithDogPaw {
    left: -100px;
    top: 0px;
    pointer-events: none; 
    position: relative;    
}

#LogUt {
    top: 10px;
    left: 85%;
    width: 250px;
    height: 55px;    
}


#Login {
    left: 5px;
    top: 2.50px;
    width: 50px;
    height: 50px;
    pointer-events: none;
}

#Account {
    top: 45px;
    left: 90%;
    z-index: 1;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 80px;
    background: #D9D9D9;
}

.CatProfile {
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    position: absolute;
    pointer-events: none;
}

#search-bar {
    top: 115px;
    left: 25%;
}

#search-background {
    width: 900px;
    height: 60px;
    background: #FFF7F7;
}

#search-icon {
    top: 0px;
    left: -5px;
    width: 70px;
    height: 50px;
    border-radius: 0px;
    position: absolute;
}

#search-button {
    top: 5px;
    left: 86%;
    width: 50px;
    height: 50px;
    border-width: 0px;  
}

/* Side bar menu */
#SidePannelMenu {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100%;   
    position: fixed; 
    border-radius: 0px;
    background: #D9D9D9;   
}



#food-button {
    top: 90%;
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 42px;
}

#Steak {
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    pointer-events: none;
}

#FoodButton {
    top: 40%;
    left: 5px;
    width: 90px;
    height: 90px;
}

#PetsButton {
    top: 35%;
    left: 5px;
    width: 90px;
    height: 90px;
    position:inherit ;
}

#pets-button {
    width: 90px;
    height: 90px;
    border-radius: 42px;
}

#PetsIMG {
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    pointer-events: none;
}

#SupportUs {
    left: 50%;
    top: 10px;
    width: 275px;
    height: 55px;    
}

.TopButton {
    display: flex;
    position: relative;
    width: 275px;
    height: 55px;
    background: #FFF7F7;
}

.TopImage {
    display: flex;
    top: 0px;
    pointer-events: none; 
    position: relative; 
}

/* Profile Pictures */
.Profiles-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}
#PictureProfile1,#PictureProfile4,#PictureProfile7,#PictureProfile10{
    order: 1;
}
#PictureProfile2,#PictureProfile5,#PictureProfile8,#PictureProfile11{
  order: 2;
}
#PictureProfile3,#PictureProfile6,#PictureProfile9,#PictureProfile12{
    order: 3;
}
    
.PictureProfile{
    display: flex;
    width: 400px;
    height: 250px;
    margin: 40px;
    background-color: #778899;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    

}
.Picture {
    width: 400px;
    height: 250px;
}

.Pic {
    top: 25px;
    left: 100px;
    width: auto;
    height: 200px;
    pointer-events: none;
}

#Ourpets p { left: 55px;   top: -10px;  color: red; }
#LogUt p { left: 55px;   top: -10px;  color: green; }
#SupportUs p { top: -10px;  color: blue; }
.TopButton,.Texts,#search-input,.CatProfil,#search-bar,#search-background,#search-button,.CatProfile,#FoodButton,.PetsButton,.PetsButton,#PetsIMG,.Pic,.Picture{ position: absolute; border-radius: 22px; }
