/*  MainFrames */
.MainframeAdmin {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #594273; 
    overflow-y: scroll; 
}

.MainframeAdmin::-webkit-scrollbar-track { background-color: #404040; border: 2px solid #000; }
  
.MainframeAdmin::-webkit-scrollbar-thumb { border-radius: 10px; border: 2px solid #000080; background-color: #737272; }
  
.MainframeAdmin::-webkit-scrollbar { width: 10px; }

/* Main window */
.MainWindow {
    height: 100%;
    padding: 0px;
    margin-bottom: 75px;
    margin-left: 100px;
}

/* Top menu */

.MenuTop {
    display: flex;
    flex-flow: row wrap;
    z-index: 2;
    width: 100%;
    height: 75px;
    position: relative;
    background: #514A7F;
}

.TopButton {
    width: 275px;
    height: 55px;
    position: relative;
    background: #194BDC;
}

.TopImage {
    top: 0px;
    pointer-events: none; 
    position: relative; 
}

.TopContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    z-index: 5;
    margin: 0px;
}

/* Support us */
#SupportUs {
    left: 50%;
    top: 10px;
    width: 275px;
    height: 55px;    
}

#supportus-button {
    top: 10px;
    left: 47%;
    width: 275px;
    height: 55px;    
    display: flex;
}

/* Our pets */

#ourpets-button {
    top: 10px;
    left: 66%;
    width: 275px;
    height: 55px;  
    display: flex;   
}

#HeartWithDogPaw {
    left: -100px;
    top: 0px;
    pointer-events: none; 
    position: relative;    
}

/* Logout */

#logout-button {
    display: flex;
    top: 10px;
    left: 84%;
    width: 250px;
    height: 55px;    
}

/* Account */

#Account {
    bottom: 5%;
    left: 5px;
    z-index: 1;
    width: 90px;
    height:90px;
    position: inherit;
    border-radius: 80px;
    background: #FFE8FF;
}

.CatProfile {
    top: 5px;
    left: 5px;
    width:  81px;
    height: 81px;
    position: absolute;
    pointer-events: none;
}

/* Search */

#search-bar {
    top: 115px;
    left: 25%;
    width: 300px;
}

#search-background {
    width: 900px;
    height: 60px;
    background: #b084f5;
}

#search-icon {
    top: 0px;
    left: -5px;
    width: 70px;
    height: 50px;
    border-radius: 0px;
    position: absolute;
}

#search-input {
    top: 2px;
    z-index: 1;
    border: 0px;
    width: 750px;
    height: 54px;
    font-size: 22px;
    position: relative;
    background: #b084f5;
}

#search-button {
    top: 5px;
    left: 86%;
    width: 50px;
    height: 50px;
    border-width: 0px;  
}

/* Side bar menu */
#SidePannelMenu {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100%;   
    position: fixed; 
    border-radius: 0px;
    background: #7469B6;   
}

/* Food */

#food-button {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 16px;
    background-color: #B085F5;
}

#FoodIMG {
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    pointer-events: none;
}

#FoodButton {
    left: 5px;
    width: 90px;
    height: 90px;
}

/* Pets */

#PetsButton {
    left: 5px;
    width: 90px;
    height: 90px;
    position:inherit ;
}

#pets-button {
    width: 90px;
    height: 90px;
    border-radius: 16px;
    background-color: #B085F5;
}

#PetsIMG {
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    pointer-events: none;
}

/* Shelters */

#SheltersButton {
    left: 5px;
    width: 90px;
    height: 90px;
    position: inherit 
    
}

#shelters-button {
    width: 90px;
    height: 90px;
    border-radius: 16px;
    background-color: #B085F5;
}

#SheltersIMG {
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    pointer-events: none;
}


.SidepanelButtons {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
    position: relative;
    background: #7469B6;
}

#food-button:hover,#pets-button:hover,#shelters-button:hover {
    background-color: #C292FF;
}

.TopContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    z-index: 5;
    margin: 0px;
}

/* Profile Pictures */
.Profiles-container {
    display: flex;
    width: 80%;
    /*margin is crutial for sidebar buttons! withoud it
    them are not available!*/
    margin-left: 10%;
    margin-top: 10%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

#PictureProfile1,#PictureProfile4,#PictureProfile7,#PictureProfile10,#PictureProfile13,#PictureProfile16 { order: 1; }
#PictureProfile2,#PictureProfile5,#PictureProfile8,#PictureProfile11,#PictureProfile14,#PictureProfile17 { order: 2; }
#PictureProfile3,#PictureProfile6,#PictureProfile9,#PictureProfile12,#PictureProfile15,#PictureProfile18 { order: 3; }
    
.PictureProfile{
    display: flex;
    width: 400px;
    height: 250px;
    margin: 40px;
    position: relative;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Picture {
    width: 400px;
    height: 250px;
    background-color: #B085F5;
}

.Pic {
    top: 25px;
    left: 125px;
    width: auto;
    height: 150px;
    pointer-events: none;
}

.Texts {
    top: -10px;
    left: 75px;
    color: black;
    font-size: 22px;
    text-wrap:nowrap;
    font-weight: 800;
    text-align: center;
    pointer-events: none;
    font-family: 'DM Sans';
}

.TopButton#ourpets-button {  background-color: #DCC819; }
#ourpets-button:hover { background-color: #C6B416; }
.TopButton#logout-button { background: #DC194B; }
#logout-button:hover { background: #C61644; }
.TopButton#supportus-button { background: #194BDC;  }
#supportus-button:hover { background: #1644C6;  }
.TopButton,.Texts,#search-input,.CatProfil,#search-bar,#search-background,#search-button,.CatProfile,#FoodButton,.PetsButton,.PetsButton,#PetsIMG,.Pic,.Picture{ position: absolute; border-radius: 24px; }
