.MainframeAdmin {
    width: 1920px;
    height: 1080px;
    position:static;
    background-color: #524F4F;
}
.Texts{
    top: 15px;
    left: 55px;/* nasze zwierzaczki muszą mieć mniej*/
    color: black;
    font-size: 22px;
    font-weight: 800;
    position: absolute;
    font-family: DM Sans;
    pointer-events: none;
}
labelW {
    color: black;
}
labelZ {
    color: blue;
}
labelK{
    color: red;
}
labelS {
    color: green;
}
.Search {
    top: 2px;
    z-index: 1;
    border: 0px;
    width: 800px;
    height: 54px;
    font-size: 22px;
    position: absolute;
    border-radius: 22px;
    background: #FFF7F7;
}
.MenuTop {
    height: 75px;
    width: 1920px;
    background: #7D7C7C;
}
.Contact {
    top: 10px;
    width: 200px;
    left: 1425px;
    height: 55px;
    position:absolute;
}
.ContackBackground {
    width: 200px;
    height: 55px;
    border-radius: 22px;
    background: #FFF7F7;   
}
.Call {
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    pointer-events: none;
}
.Pets3 {
    top: 10px;
    left: 1125px;
    width: 275px;
    height: 55px;
    position: absolute;
}
.OuranimalsBackground {
    width: 275px;
    height: 55px;
    border-radius: 22px;
    background: #FFF7F7;
}
.HeartWithDogPaw {
    left: 1px;
    top: 2.50px;
    width: 50px;
    height: 50px;
    position: absolute;
}
.LogOut {
    top: 10px;
    left: 1650px;
    width: 250px;
    height: 55px;
    position: absolute;
}
.LogoutBackground {
    width: 250px;
    height: 55px;
    border-radius: 22px;
    background: #FFF7F7;
}
.Login {
    left: 5px;
    top: 2.50px;
    width: 50px;
    height: 50px;
    position: absolute;
    pointer-events: none;
}
.Accounts {
    width: 100px;
    height: 100px;
}
.Account {
    top: 95px;
    left: 1790px;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 80px;
    background: #D9D9D9;
}
.CatProfile {
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    position: absolute;
    pointer-events: none;
}
.Searchbar {
    top: 115px;
    left: 510px;
    position: absolute;
}
.SearchBG {
    width: 900px;
    height: 60px;
    position: absolute;
    border-radius: 22px;
    background: #FFF7F7;
 }
.Searchu {
    left: 0px;
    top: 0px;
    width: 70px;
    height: 50px;
    position: absolute;
 }   
.Searching {
    top: 5px;
    left: 810px;
    width: 50px;
    height: 50px;
    border-width: 0px;
    position: absolute;
    
 }
/*Side bar menu*/
.SidePannelMenu {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 1080px;
    position: absolute;
}
.Menu {
    width: 100px;
    height: 1080px;
    position: absolute;
    background: #D9D9D9;
}
.KawaiiSteak {
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 42px;/* or square 22*/
}
.Steak {
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    position: absolute;
    pointer-events: none;
    
}
.FoodButton {
    left: 5px;
    top: 425px;
    width: 90px;
    height: 90px;
    position: absolute;
}
.PetsButton {
    left: 5px;
    top: 275px;
    width: 90px;
    height: 90px;
    position: absolute;
}
.Animals {
    width: 90px;
    height: 90px;
    position: absolute;
    
    border-radius: 42px;/* or square 22*/
}
.PetsIMG {
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    position: absolute;
    pointer-events: none;
}
.Support {
    top: 10px;
    left: 825px;
    width: 275px;
    height: 55px;
    position: absolute;
}
.supportButton {
    top: 0px;
    left: 0px;
    width: 275px;
    height: 55px;
    position: absolute;
    border-radius: 22px;
    background: #FFF7F7;
}
.WesprzyjNas {
    top: 15px;
    left: 59px;
    color: black;
    width: 201.64px;
    font-size: 22px;
    font-weight: 800;
    position: absolute;
    text-align: center;
    font-family: DM Sans;
    pointer-events: none;
    word-wrap: break-word;
}
.Charity {
    left: 5px;
    top: 2.50px;
    position: absolute;
    pointer-events: none;
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}
/* Profile Pictures */
.PictureProfile1 {
    top: 265px;
    left: 310px;
    position: absolute;
    border-radius: 22px;
}
.PictureProfile2 {
    top: 265px;
    left: 760px;
    position: absolute;
    border-radius: 22px;
}
.PictureProfile3 { 
    top: 265px;
    left: 1210px;
    position: absolute;
    border-radius: 22px;
}
.PictureProfile4 { 
    top: 565px;
    left: 310px;
    position: absolute;
    border-radius: 22px;
}
.PictureProfile5 {
    top: 565px;
    left: 760px;
    position: absolute;
    border-radius: 22px;
}
.PictureProfile6 { 
    top: 565px;
    left: 1210px;
    position: absolute;
    border-radius: 22px;
}
.Picture {
    width:400px;
    height: 250px;
    border-radius: 22px;
    background-size: 90px 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/Picture.png);
}
