<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning Popup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errorstyles.css') }}">
    <script src="{{ url_for('static', filename='js/errorscriptu.js') }}" defer></script>
</head>
<body>
    <div id="popup" class="popup">
        <div class="popup-content">
            <button id="closeBtn" class="popup-close">
                <img src="{{ url_for('static', filename='static/images/popup/CloseIcon.png') }}" alt="Close Icon">
            </button>
            <div class="popup-BG" style="background: #D9D9D9"></div>
            <div class="popup-spacer"></div>
            <img src="{{ url_for('static', filename='static/images/popup/WarningIcon.png') }}" alt="Warning Icon">
            <div class="popup-message">
                <p>Warning: This is an important message. Please read it carefully.</p>
            </div>
            <div class="popup-spacer"></div>
            <button id="acceptBtn" class="popup-button">Accept
                <img src="{{ url_for('static', filename='static/images/popup/Submiot button.png') }}" alt="Check Icon">
            </button>
        </div>
    </div>
</body>
</html>
