<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Popup</title>
    <style>
        #errorIcon { top: 19px; left: 5px; width: 60px; height: 52px; position: absolute; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popupstyle.css') }}">
    <script src="{{ url_for('static', filename='js/popupscriptu.js') }}" defer></script>
</head>
<body>
    <div id="popup" class="popup">
        <div class="popup-content">
            <button id="closeBtn" class="popup-close">
                <img src="{{ url_for('static', filename='images/popup/CloseIcon.png') }}" alt="Close Icon">
            </button>
            <div class="popup-spacer"></div>
            <img id="errorIcon" src="{{ url_for('static', filename='images/popup/ErrorIcon.png') }}" alt="Error Icon">
            <div class="popup-BG">
                <div class="popup-message">
                    <p>Error: Something went wrong. Please try again.</p>
                </div>
            </div>
            <div class="popup-spacer"></div>
            <button id="acceptBtn" class="popup-button">
                <p id="acceptTxt">OK</p>
                <img id="understand" src="{{ url_for('static', filename='images/popup/Submit_button.png') }}" alt="Retry Icon">
            </button>
        </div>
    </div>
</body>
</html>
