<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Shelter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/infostyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebarstyle.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body style="margin: 0;">
    <div class="MainframeAdmin">
        <!-- BEGINNING Top Menu -->
        <div class="MenuTop">
            <!-- Support button -->
            <button id="SupportUs" class="TopButton">
                <img class="TopImage" src="{{ url_for('static', filename='images/TopSidebar/Charity.png') }}" />
                <p class="Texts">WESPRZYJ NAS</p>
            </button>
            
            <!-- Our pets button -->
            <button id="Ourpets" class="TopButton">
                <img class="TopImage" src="{{ url_for('static', filename='images/TopSidebar/Heartwithdogpaw.png') }}" />
                <p class="Texts">NASZE ZWIERZAKI</p>
            </button>
        
            <!-- Login button -->
            <button id="LogUt" class="TopButton">
                <img class="TopImage" src="{{ url_for('static', filename='images/TopSidebar/Login.png') }}" />
                <p class="Texts">WYLOGUJ SIĘ</p>
            </button>
            
            <!-- END Top Menu -->
        </div>   
        <!-- Account logo -->
        <div>
            <div id="Account">
                <img class="CatProfile" src="{{ url_for('static', filename='images/CatProfile.png') }}" />
            </div>
        </div>

        <div class="search-bar">
            <!-- Search bar -->
            <input type="text" class="search-input" placeholder="Wyszukaj zwierzaka" />
            <div class="search-background">
                <button id="Search" class="search-button">
                    <img id="search-icon" src="{{ url_for('static', filename='images/Search.png') }}" />
                </button>
                <!-- END Search bar -->
            </div>
        </div>
        
        <div class="SidePannelMenu">
            <!-- Side panel menu -->
            <div class="Menu">
                <!-- Food button -->
                <div class="FoodButton">
                    <button id="Food" class="KawaiiSteak">
                        <img class="Steak" src="{{ url_for('static', filename='images/Sidebar/KawaiiSteak.png') }}" />
                    </button>
                </div>
                <!-- Pets button -->
                <div class="PetsButton">
                    <button id="Pets" class="Animals">
                        <img class="PetsIMG" src="{{ url_for('static', filename='images/Sidebar/Pets.png') }}" >
                    </button> 
                </div>
                <!-- END Side panel menu -->
            </div>
        </div>
        
        <!-- BEGINNING Profiles Content -->
        <div class="PictureProfile1">
            <button id="Animal1" class="Picture">
                <img class="Pic"  src="{{ url_for('static', filename='images/profiles/Picture.png') }}" />
            </button>
            
            <div class="container">
                <div class="horizontal-line"></div>
                <div class="vertical-line"></div>
                <div class="info-box">
                    <div class="label weight">Weight</div>
                        <label class="labelWeight">0</label>
                        <div></div>
                    <div class="label status">Status</div>
                        <label class="labelStatus">Adopted</label>
                        <div></div>
                    <div class="label sex">Sex</div>
                            <label class="labelSex">Female</label>
                            <div></div>                        
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                </div>
                <div class="profile-box">
                    <div class="label type">Type<label class="labelType">Animal</label></div>
                        <div></div>
                    <div class="label name">Name: <label class="labelName">Betty</label></div>
                        <div></div>
                    <div class="label race">Race<label class="labelRace">Retriever</label></div>
                        <div></div>
                    <div class="label age">Age<label class="labelAge">0</label></div>
                        <div></div>
                    <div class="line line4"></div>
                    <div class="line line5"></div>
                    <div class="line line6"></div>
                </div>
            </div>
        </div>
        <div class="PictureProfile2">
            <button id="Animal2" class="Picture">
                <img class="Pic"  src="{{ url_for('static', filename='images/profiles/Picture.png') }}" />
            </button>
        </div>
        <div class="PictureProfile3">
            <button id="Animal3"  class="Picture">
                <img class="Pic"  src="{{ url_for('static', filename='images/profiles/Picture.png') }}" />
            </button>
        </div>
        <div class="PictureProfile4">
            <button id="Animal4" class="Picture">
                <img class="Pic"  src="{{ url_for('static', filename='images/profiles/Picture.png') }}" />
            </button>
            
        </div>
        <div class="PictureProfile5">
            <button id="Animal5"  class="Picture">
                <img class="Pic"  src="{{ url_for('static', filename='images/profiles/Picture.png') }}" />
            </button>
        </div>
        <div class="PictureProfile6">
            <button id="Animal6"  class="Picture">
                <img class="Pic"  src="{{ url_for('static', filename='images/profiles/Picture.png') }}" />
            </button>
            
        <!-- END Profiles Content -->
        </div>
        <!-- BEGINNING Contact info -->
            <div class="ContactinfoLine">
                <div class="SeperatelineBg"></div>
                <div class="Seperateline3rd"></div>
                <div class="Seperateline2nd"></div>
                <div class="Seperateline1st"></div>
                <div class="Tel48491825420">Tel:+48 491-825-420</div>
                <img class="ContactinfoLineCallPic" src="{{ url_for('static', filename='images/TopSidebar/Call.png') }}" />
                <div class="DoggosProductionGmailCom">Doggos.production@gmail.com</div>
                <img class="ContactinfoLineEmailPic" src="{{ url_for('static', filename='images/Contactinfo_line_Email_pic.png') }}" />
                <div class="KatowiceUlBogucicka534">Katowice Ul. Bogucicka 5&3/4</div>
                <img class="ContactinfoLineAddressPic" src="{{ url_for('static', filename='images/Contactinfo_line_Address_pic.png') }}" />
            </div>
        <!-- END Contact info -->
    </div>
</body>
</html>