<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Shelter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/infostyle.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body style="margin: 0;">
    <div class="MainframeAdmin">
        <!-- BEGINNING Top Menu -->
        <div class="MenuTop">
            <!-- Contact button -->
            <div class="Contact">
                <button id="ContactUs" class="ContackBackground"></button>
                <div class="Texts">
                    <labelK>  KONTAKT</labelK>
                </div>
                <img class="Call" src="{{ url_for('static', filename='images/call.png') }}" />
            </div>
            
            <!-- Support button -->
            <div class="Support">
                <button id="SupportUs" class="supportButton"></button>
                <div class="Texts">
                    <labelS>WESPRZYJ NAS</labelS>
                </div>
                <img class="Charity" src="{{ url_for('static', filename='images/Charity.png') }}" />
            </div>
            
            <!-- Our pets button -->
            <div class="Pets3">
                <button id="Ourpets" class="OuranimalsBackground">
                    <div class="Texts">
                        <labelZ>NASZE ZWIERZAKI</labelZ>
                    </div>
                    <img class="HeartWithDogPaw" src="{{ url_for('static', filename='images/Heartwithdogpaw.png') }}" />
                </button>
            </div>
            
            <!-- About us button -->
            <div class="LogOut">
                <button id="LogUt" class="LogoutBackground"></button>
                <div class="Texts">
                    <labelW>WYLOGUJ SIĘ</labelW>
                </div>
                <img class="Login" src="{{ url_for('static', filename='images/Login.png') }}" />
            </div>
            
            <!-- Account logo -->
            <div class="Account">
                <img class="CatProfile" src="{{ url_for('static', filename='images/CatProfile.png') }}" />
            </div>
        </div>
        <!-- END Top Menu -->
        
        <div class="Searchbar">
            <!-- Search bar -->
            <input type="text" class="Search" placeholder="Wyszukaj zwierzaka" />
            <div class="SearchBG">
                <button id="Search" class="Searching">
                    <img class="Searchu" src="{{ url_for('static', filename='images/Search.png') }}" />
                </button>
                <!-- END Search bar -->
            </div>
        </div>
        
        <div class="SidePannelMenu">
            <!-- Side panel menu -->
            <div class="Menu">
                <!-- Food button -->
                <div class="FoodButton">
                    <button id="Food" class="KawaiiSteak"></button>
                    <img class="Steak" src="{{ url_for('static', filename='images/KawaiiSteak.png') }}" />
                </div>
                
                <!-- Pets button -->
                <div class="PetsButton">
                    <button id="Pets" class="Animals"></button>
                    <img class="PetsIMG" src="{{ url_for('static', filename='images/Pets.png') }}" >
                </div>
                <!-- END Side panel menu -->
            </div>
        </div>
        
        <!-- BEGINNING Profiles Content -->
        <div class="PictureProfile1">
            <button id="Animal1" class="Picture"></button>
            <img class="Pic"  src="{{ url_for('static', filename='images/Picture.png') }}" />
            <div class="container">
                <div class="horizontal-line"></div>
                <div class="vertical-line"></div>
                <div class="info-box">
                    <div class="label weight">Weight</div>
                        <label class="labelWeight">0</label>
                        <div></div>
                    <div class="label status">Status</div>
                        <label class="labelStatus">Adopted</label>
                        <div></div>
                    <div class="label sex"> Sex</div>
                            <label class="labelSex">Female</label>
                            <div></div>
                        
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                </div>
                <div class="profile-box">
                    <div class="label type">Type<label class="labelType">Animal</label></div>
                        
                    <div></div>

                    <div class="label name">Name: <label class="labelName">Betty</label></div>
                        
                        
                    <div></div>

                    <div class="label race">Race<label class="labelRace">Retriever</label></div>
                        
                    <div></div>

                    <div class="label age">Age<label class="labelAge">0</label></div>
                        
                    <div></div>


                    <div class="line line4"></div>
                    <div class="line line5"></div>
                    <div class="line line6"></div>
                </div>
            </div>
        </div>
        <div class="PictureProfile2">
            <button id="Animal2" class="Picture"></button>
            <img class="Pic"  src="{{ url_for('static', filename='images/Picture.png') }}" />
        </div>
        <div class="PictureProfile3">
            <button id="Animal3"  class="Picture"></button>
            <img class="Pic"  src="{{ url_for('static', filename='images/Picture.png') }}" />
        </div>
        <div class="PictureProfile4">
            <button id="Animal4" class="Picture"></button>
            <img class="Pic"  src="{{ url_for('static', filename='images/Picture.png') }}" />
        </div>
        <div class="PictureProfile5">
            <button id="Animal5"  class="Picture"></button>
            <img class="Pic"  src="{{ url_for('static', filename='images/Picture.png') }}" />
        </div>
        <div class="PictureProfile6">
            <button id="Animal6"  class="Picture"></button>
            <img class="Pic"  src="{{ url_for('static', filename='images/Picture.png') }}" />
        <!-- END Profiles Content -->
        </div>
    </div>
</body>
</html>
