<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Popup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/infostyle.css') }}">
    <script src="{{ url_for('static', filename='js/infoscriptu.js') }}" defer></script>
</head>
<body>
    <div id="popup" class="popup">
        <div class="popup-content">
            <button id="closeBtn" class="popup-close">
                <img src="{{ url_for('static', filename='images/popup/CloseIcon.png') }}" alt="Close Icon">
            </button>
            <div class="popup-spacer"></div>
            <img id="infoIcon" src="{{ url_for('static', filename='images/popup/InfoIcon.png') }}" alt="Info Icon">
            <div class="popup-BG">
                <div class="popup-message">
                    <p>Info: This is an informational message. Please read it carefully.</p>
                </div>
            </div>
            <div class="popup-spacer"></div>
            <button id="acceptBtn" class="popup-button">
                <p id="acceptTxt">Accept</p>
                <img id="understand" src="{{ url_for('static', filename='images/popup/Submit_button.png') }}" alt="Check Icon">
            </button>
        </div>
    </div>
</body>
</html>
