<!DOCTYPE html>
<html>
<head>
    <title>Manage Animals</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animalstyle.css') }}">
    <script src="{{ url_for('static', filename='js/animalsscriptu.js') }}"></script>
    <style>
        #addAnimalForm, #editAnimalForm, #deleteAnimalForm {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <h1 id="mainText">Manage Animals</h1>

        <h2 id="actionSelect">Select action:</h2>
        <select id="action" onchange="handleActionChangeAn()">
            <option value="add">Add</option>
            <option value="edit">Edit</option>
            <option value="delete">Delete</option>
        </select>
    
        <div id="existingAnimal" style="display: none;">
            <h2 id="chooseAnimalText">Choose an Animal:</h2>
            <select id="animalId">
                <option value="">Select an Animal</option>
            </select>
        </div>
        <button id="backButton" onclick="window.location.href = '/';">
            <p>Back</p>
        </button>
        
        <div id="addAnimalForm">
            <form id="addForm" method="POST" onsubmit="addAnimal(event)">
                <label id="nameAdd" for="name">Name:</label>
                <input type="text" id="name" name="name" required><br>
        
                <label id="ageAdd" for="age">Age:</label>
                <input type="number" id="age" name="age" required><br>
        
                <label id="raceAdd" for="race">Race:</label>
                <input type="text" id="race" name="race" required><br>
        
                <label id="foodIdAdd" for="food_id">Food ID:</label>
                <input type="text" id="food_id" name="food_id" required><br>
        
                <label id="shelterIdAdd" for="shelter_id">Shelter ID:</label>
                <input type="text" id="shelter_id" name="shelter_id" required><br>
        
                <label id="weightAdd" for="weight">Weight:</label>
                <input type="number" id="weight" name="weight" step="0.1" required><br>
        
                <label id="statusAdd" for="status">Status:</label>
                <input type="text" id="status" name="status" required><br>
        
                <label id="sexAdd" for="sex">Sex:</label>
                <input type="text" id="sex" name="sex" required><br>
        
                <button id="addSubmit" title="addSubmit-ico" type="submit">
                    <p>Add Animal</p>
                </button>
            </form>
        </div>
    
        <div id="editAnimalForm">
            <h2 id="editAnimalText">Edit Animal</h2>
            <form id="editForm" method="POST" onsubmit="editAnimal(event)">
                <label id="nameEdit" for="name">Name:</label>
                <input type="text" id="name" name="name" required><br>
        
                <label id="ageEdit" for="age">Age:</label>
                <input type="number" id="age" name="age" required><br>
        
                <label id="raceEdit" for="race">Race:</label>
                <input type="text" id="race" name="race" required><br>
        
                <label id="foodIdEdit" for="food_id">Food ID:</label>
                <input type="text" id="food_id" name="food_id" required><br>
        
                <label id="shelterIdEdit" for="shelter_id">Shelter ID:</label>
                <input type="text" id="shelter_id" name="shelter_id" required><br>
        
                <label id="weightEdit" for="weight">Weight:</label>
                <input type="number" id="weight" name="weight" step="0.1" required><br>
        
                <label id="statusEdit" for="status">Status:</label>
                <input type="text" id="status" name="status" required><br>
        
                <label id="sexEdit" for="sex">Sex:</label>
                <input type="text" id="sex" name="sex" required><br>
        
                <button id="editSubmit" title="editForm-ico" type="submit">
                    <p>Edit Animal</p>
                </button>
            </form>
        </div>
    
        <div id="deleteAnimalForm">
            <h2 id="deleteAnimalText">Delete Animal</h2>
            <button id="deleteSubmit" title="deleteForm-ico" onclick="deleteAnimal()">
                <p>Delete</p>
            </button>
        </div>
    
        <div></div>
            <h2 id="allAnimalText">All Animals:</h2>
            <ul id="animalList"></ul>
        </div>
    </div>
</body>
</html>
