<!DOCTYPE html>
<html>
<head>
    <title>Manage Shelters</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shelterstyle.css') }}">
    <script src="{{ url_for('static', filename='js/shelterscriptu.js') }}" defer></script>
    <style>
        #addShelterForm, #editShelterForm, #deleteShelterForm {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 id="mainText">Manage Shelters</h1>
        <h2 id="actionSelect">Select action:</h2>
        <select id="action" onchange="handleActionChange()">
            <option value="add">Add</option>
            <option value="edit">Edit</option>
            <option value="delete">Delete</option>
        </select>

        <div id="existingShelters" style="display: none;">
            <h2 id="chooseShelterText">Choose a shelter:</h2>
            <select id="shelterId">
                <option value="">Select a shelter</option>
            </select>
        </div>

        <div id="addShelterForm">
            <form method="POST" onsubmit="addShelter(event)">
                <label id="nameAdd" for="name">Name:</label>
                <input type="text" id="name" name="name" required><br>
        
                <label id="amountAdd" for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" required><br>
        
                <label id="capacityAdd" for="capacity">Capacity:</label>
                <input type="text" id="capacity" name="capacity" required><br>
        
                <button id="addSubmit" type="submit">Add Shelter</button>
            </form>
        </div>
        
        <div id="editShelterForm" style="display: none;">
            <h2 id="editShelterText">Edit Shelter</h2>
            <form method="POST" onsubmit="editShelter(event)">
                <label id="nameEdit" for="name">Name:</label>
                <input type="text" id="name" name="name" required><br>
        
                <label id="amountEdit" for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" required><br>
        
                <label id="capacityEdit" for="capacity">Capacity:</label>
                <input type="text" id="capacity" name="capacity" required><br>
        
                <button id="editSubmit" type="submit">Edit Shelter</button>
            </form>
        </div>

        <div id="deleteShelterForm" style="display: none;">
            <h2 id="deleteShelterText">Delete Shelter</h2>
            <button id="deleteSubmit" onclick="deleteShelter()">Delete</button>
        </div>

        <div>
            <h2 id="allShelterText">All Shelters:</h2>
            <ul id="sheltersList"></ul>
        </div>
    </div>
</body>
</html>
