<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttonsstyles.css') }}">

    <title>Document</title>
</head>
<body>
    <div class="MfWidget">
        <div class="WidgetManageFood">
            <div class="MfBg"></div>
            <div class="MfScrollThings">
                <div class="MfScrolling"></div>
                <div class="MfScrollingBg"></div>
            </div>
            <div class="AdditionOfANewAnimal">
                <div class="MfUnderline"></div>
                <img class="MfButtonPlus" src="{{ url_for('static', filename='images/navigation/MP_addButton.png') }}" />
                <div class="MfText">Add new</div>
            </div>
            <div class="MfButtons">
                <div class="Mf5thbuttonpair">
                    <div class="Mf5thbuttonpairPlusMinus">
                        <img class="Mf5thbuttonpairButtonPlus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Plus.png') }}" />
                        <img class="Mf5thbuttonpairButtonMinus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Minus.png') }}"/>
                    </div>
                    <img class="Mf5thbuttonpairButtonRemove"  src="{{ url_for('static', filename='images/navigation/MP_1stbuttonpair_button_remove.png') }}" />
                    <img class="Mf5thbuttonpairPic"  src="{{ url_for('static', filename='images/MF_1stbuttonpair_pic.png') }}" />
                </div>
                <div class="Mf4thbuttonpair">
                    <div class="Mf4thbuttonpairPlusMinus">
                        <img class="Mf4thbuttonpairButtonPlus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Plus.png') }}"  />
                        <img class="Mf4thbuttonpairButtonMinus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Minus.png') }}"/>
                    </div>
                    <img class="Mf4thbuttonpairButtonRemove"  src="{{ url_for('static', filename='images/navigation/MP_1stbuttonpair_button_remove.png') }}" />
                    <img class="Mf4thbuttonpairPic"  src="{{ url_for('static', filename='images/MF_1stbuttonpair_pic.png') }}" />
                </div>
                <div class="Mf3rdbuttonpair">
                    <div class="Mf3rdbuttonpairPlusMinus">
                        <img class="Mf3rdbuttonpairButtonPlus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Plus.png') }}" />
                        <img class="Mf3rdbuttonpairButtonMinus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Minus.png') }}"/>
                    </div>
                    <img class="Mf3rdbuttonpairButtonRemove"  src="{{ url_for('static', filename='images/navigation/MP_1stbuttonpair_button_remove.png') }}" />
                    <img class="Mf3rdbuttonpairPic"  src="{{ url_for('static', filename='images/MF_3rdbuttonpair_pic.png') }}" />
                </div>
                <div class="Mf2ndbuttonpair">
                    <div class="Mf2ndbuttonpairPlusMinus">
                        <img class="Mf2ndbuttonpairButtonPlus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Plus.png') }}"  />
                        <img class="Mf2ndbuttonpairButtonMinus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Minus.png') }}"/>
                    </div>
                    <img class="Mf2ndbuttonpairButtonRemove"  src="{{ url_for('static', filename='images/navigation/MP_1stbuttonpair_button_remove.png') }}" />
                    <img class="Mf2ndbuttonpairPic"  src="{{ url_for('static', filename='images/MF_4thbuttonpair_pic.png') }}" />
                </div>
                <div class="Mf1stbuttonpair">
                    <div class="Mf1stbuttonpairPlusMinus">
                        <img class="Mf1stbuttonpairButtonPlus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Plus.png') }}"  />
                        <img class="Mf1stbuttonpairButtonMinus" src="{{ url_for('static', filename='images/navigation/MF_5thbuttonpair_button_Minus.png') }}" />
                    </div>
                    <img class="Mf1stbuttonpairButtonRemove"  src="{{ url_for('static', filename='images/navigation/MP_1stbuttonpair_button_remove.png') }}" />
                    <img class="Mf1stbuttonpairPic"  src="{{ url_for('static', filename='images/MF_5thbuttonpair_pic.png') }}" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
