<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttonsstyles.css') }}">
    
    <title>Document</title>
</head>
<body>
    <div class="MfWidget">
        <div class="WidgetManageFood">
            <div class="MfBg"></div>
            <div class="MfScrollThings">
                <div class="MfScrolling"></div>
                <div class="MfScrollingBg"></div>
            </div>
            <div class="AdditionOfANewAnimal">
                <div class="MfUnderline"></div>
                <img class="MfButtonPlus" src="https://via.placeholder.com/50x50" />
                <div class="MfText">Add new</div>
            </div>
            <div class="MfButtons">
                <div class="Mf5thbuttonpair">
                    <div class="Mf5buttonpairPlusMinus">
                        <img class="Mf5thbuttonpairButtonPlus" src="https://via.placeholder.com/40x40" />
                        <img class="Mf5thbuttonpairButtonMinus" src="https://via.placeholder.com/40x40" />
                    </div>
                    <img class="Mf5thbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                    <img class="Mf5thbuttonpairPic" src="https://via.placeholder.com/90x90" />
                </div>
                <div class="Mf4thbuttonpair">
                    <div class="Mf4thbuttonpairPlusMinus">
                        <img class="Mf4thbuttonpairButtonPlus" src="https://via.placeholder.com/40x40" />
                        <img class="Mf4thbuttonpairButtonMinus" src="https://via.placeholder.com/40x40" />
                    </div>
                    <img class="Mf4thbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                    <img class="Mf4thbuttonpairPic" src="https://via.placeholder.com/90x90" />
                </div>
                <div class="Mf3rdbuttonpair">
                    <div class="Mf3rdbuttonpairPlusMinus">
                        <img class="Mf3rdbuttonpairButtonPlus" src="https://via.placeholder.com/40x40" />
                        <img class="Mf3rdbuttonpairButtonMinus" src="https://via.placeholder.com/40x40" />
                    </div>
                    <img class="Mf3rdbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                    <img class="Mf3rdbuttonpairPic" src="https://via.placeholder.com/90x90" />
                </div>
                <div class="Mf2ndbuttonpair">
                    <div class="Mf2ndbuttonpairPlusMinus">
                        <img class="Mf2ndbuttonpairButtonPlus" src="https://via.placeholder.com/40x40" />
                        <img class="Mf2ndbuttonpairButtonMinus" src="https://via.placeholder.com/40x40" />
                    </div>
                    <img class="Mf2ndbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                    <img class="Mf2ndbuttonpairPic" src="https://via.placeholder.com/90x90" />
                </div>
                <div class="Mf1stbuttonpair">
                    <div class="Mf1stbuttonpairPlusMinus">
                        <img class="Mf1stbuttonpairButtonPlus" src="https://via.placeholder.com/40x40" />
                        <img class="Mf1stbuttonpairButtonMinus" src="https://via.placeholder.com/40x40" />
                    </div>
                    <img class="Mf1stbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                    <img class="Mf1stbuttonpairPic" src="https://via.placeholder.com/90x90" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
