<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttonsstyles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="MpWidget">
        <div class="MpScrollThings">
            <div class="WidgetMpBg"></div>
            <div class="MpButtons">
                <div class="Mp5thbuttonpair">
                    <div class="Mp5thbuttonpairPic"></div>
                    <img class="Mp5thbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                </div>
                <div class="Mp4thbuttonpair">
                    <div class="Mp4thbuttonpairPic"></div>
                    <img class="Mp4thbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                </div>
                <div class="Mp3rdbuttonpair">
                    <div class="Mp3rdbuttonpairPair"></div>
                    <img class="Mp3rdbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                </div>
                <div class="Mp2ndbuttonpair">
                    <div class="Mp2ndbuttonpairPic"></div>
                    <img class="Mp2ndbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                </div>
                <div class="Mp1stbuttonpair">
                    <div class="Mp1stbuttonpairPic"></div>
                    <img class="Mp1stbuttonpairButtonRemove" src="https://via.placeholder.com/90x90" />
                </div>
            </div>
            <div class="AdditionOfANewAnimal">
                <img class="MpAddbutton" src="https://via.placeholder.com/50x50" />
                <div class="MpText">Add new</div>
            </div>
            <div class="MpScrolling"></div>
            <div class="MpScrollingBg"></div>
        </div>
    </div>
</body>
</html>