<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profilestyle.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="ProfilePageFrame">
        <div class="OpeningProfile">
            <div class="ProfilePageMainBg"></div>
            <div class="AnimalIonfo">
                <div class="ProfilePageInfoSeparationlineHorizontal"></div>
                <div class="ProfilePageInfoSeparationlineVertical"></div>
                <div class="RightInfo">
                    <div class="ProfilePageSexInfoText">Sex</div>
                    <div class="ProfilePageStatusInfoText">Status</div>
                    <div class="ProfilePageWeightInfoText">Weight</div>
                    <div class="ProfilePageWeightInfoUnderline"></div>
                    <div class="ProfilePageStatusInfoUnderline"></div>
                    <div class="ProfilePageSexInfoUnderline"></div>
                </div>
                <div class="LeftInfo">
                    <div class="ProfilePageTypeInfoText">Type</div>
                    <div class="ProfilePageNameInfoText">Name</div>
                    <div class="ProfilePageShelterstayingText">Cage/Place Staying</div>
                    <div class="ProfilePageRaceInfoText">Race</div>
                    <div class="ProfilePageAgeInfoText">Age</div>
                    <div class="ProfilePageTypeInfoUnderline"></div>
                    <div class="ProfilePageRaceInfoUnderline"></div>
                    <div class="ProfilePageAgeInfoUnderline"></div>
                </div>
            </div>
            <div class="ProfilePageSegmentdivision"></div>
            <div class="PhotoGalerry">
                <div class="ProfilePagePicBg"></div>
                <img class="Corgi" src="https://via.placeholder.com/300x232" />
                <img class="Corgi" src="https://via.placeholder.com/309x225" />
                <img class="Corgi" src="https://via.placeholder.com/300x232" />
                <img class="ForwardArrow" src="https://via.placeholder.com/93x96" />
                <img class="ForwardArrow" src="https://via.placeholder.com/94x95" />
            </div>
            <div class="ProfilePageDatatoupdate">
                <div class="ProfilePageDatasex">
                    <div class="ProfilePageSexUnderline"></div>
                    <div class="ProfilePageSexText">Sex</div>
                </div>
                <div class="ProfilePageDatastatus">
                    <div class="ProfilePageStatusUnderline"></div>
                    <div class="ProfilePageStatusText">Status</div>
                </div>
                <div class="ProfilePageDataweight">
                    <div class="ProfilePageWeightUnderline"></div>
                    <div class="ProfilePageWeightText">Weight</div>
                </div>
                <div class="ProfilePageDataage">
                    <div class="ProfilePageAgeUnderline"></div>
                    <div class="ProfilePageAgeText">Age</div>
                </div>
                <div class="ProfilePageDatarace">
                    <div class="ProfilePageRaceUnderline"></div>
                    <div class="ProfilePageRaceText">Race</div>
                </div>
                <div class="ProfilePageDatatype">
                    <div class="ProfilePageTypeUnderline"></div>
                    <div class="ProfilePageTypeText">Type</div>
                </div>
                <div class="ProfilePageDataname">
                    <div class="ProfilePageNameUnderline"></div>
                    <div class="ProfilePageNameText">Name</div>
                </div>
            </div>
            <div class="ProfilePageControls">
                <img class="ProfilePageClosePic" src="https://via.placeholder.com/52x53" />
                <img class="ProfilePageArrowleftPic" src="https://via.placeholder.com/62x64" />
                <img class="ProfilePageArrowrightPic" src="https://via.placeholder.com/62x64" />
                <img class="ProfilePageTransferPic" src="https://via.placeholder.com/62x64" />
            </div>
        </div>
    </div>
</body>
</html>