<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support us</title>
    <!-- Podłącz arkusze stylów CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/infostyle.css') }}">
    <!-- Podłącz skrypty JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body style="margin: 0;">
    <div class="MainframeAdmin">
        <!-- Początek głównego paska menu -->
        <div class="MenuTop">
            <!-- Przycisk kontaktu -->
            <div class="Contact">
                <button id="ContactUs" class="ContackBackground">
                    <img class="Call" src="{{ url_for('static', filename='images/call.png') }}" />
                </button>
                <div class="Texts">
                    <labelK>KONTAKT</labelK>
                </div>
            </div>
            
            <!-- Przycisk wsparcia -->
            <div class="Support">
                <button id="SupportUs" class="supportButton">
                    <img class="Charity" src="{{ url_for('static', filename='images/Charity.png') }}" />
                    <p class="Texts">WESPRZYJ NAS</p>
                </button>
            </div>
            
            <!-- Przycisk "Nasze zwierzaki" -->
            <div class="Pets3">
                <button id="Ourpets" class="OuranimalsBackground">
                    <div class="Texts">
                        <labelZ>NASZE ZWIERZAKI</labelZ>
                    </div>
                    <img class="HeartWithDogPaw" src="{{ url_for('static', filename='images/Heartwithdogpaw.png') }}" />
                </button>
            </div>
            
            <!-- Przycisk "O nas" -->
            <div class="LogOut">
                <button id="LogUt" class="LogoutBackground">
                    <img class="Login" src="{{ url_for('static', filename='images/Login.png') }}" />
                </button>
                <div class="Texts">
                    <labelW>WYLOGUJ SIĘ</labelW>
                </div>
            </div>
            
            <!-- Logo konta -->
            <div class="Account">
                <img class="CatProfile" src="{{ url_for('static', filename='images/CatProfile.png') }}" />
            </div>
        </div>
        <!-- Koniec głównego paska menu -->
        
        <!-- Początek paska wyszukiwania -->
        <div class="Searchbar">
            <!-- Pole wyszukiwania -->
            <input type="text" class="Search" placeholder="Wyszukaj zwierzaka" />
            <div class="SearchBG">
                <button id="Search" class="Searching">
                    <img class="Searchu" src="{{ url_for('static', filename='images/Search.png') }}" />
                </button>
                <!-- Koniec pola wyszukiwania -->
            </div>
        </div>
        <!-- Koniec paska wyszukiwania -->
        
        <!-- Początek bocznego menu -->
        <div class="SidePannelMenu">
            <!-- Menu boczne -->
            <div class="Menu">
                <!-- Przycisk "Jedzenie" -->
                <div class="FoodButton">
                    <button id="Food" class="KawaiiSteak">
                        <img class="Steak" src="{{ url_for('static', filename='images/KawaiiSteak.png') }}" />
                    </button>
                </div>
                <!-- Przycisk "Zwierzaki" -->
                <div class="PetsButton">
                    <button id="Pets" class="Animals">
                        <img class="PetsIMG" src="{{ url_for('static', filename='images/Pets.png') }}" >
                    </button> 
                </div>
                <!-- Koniec menu bocznego -->
            </div>
        </div>
        <!-- Koniec bocznego menu -->
        
        <!-- Początek treści profili -->
        <div class="PictureProfile1">
            <button id="Animal1" class="Picture">
                <img class="Pic"  src="{{ url_for('static', filename='images/Picture.png') }}" />
            </button>           
            <div class="container">
                <div class="horizontal-line"></div>          
                <div class="profile-box">
                    <div class="label race">Podaruj karmę</div>
                        <div></div>
                </div>
            </div>
        </div>
        <div class="PictureProfile2">
            <button id="Animal2" class="Picture">
                <img class="Pic"  src="{{ url_for('static', filename='images/Picture.png') }}" />
            </button>
            <div class="container">
                <div class="horizontal-line"></div>          
                <div class="profile-box">
                    <div class="label race">Podaruj środki</div>
                        <div></div>
                </div>
            </div>
        </div>
        <!-- Koniec treści profili -->
    </div>
</body>
</html>
