<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning Popup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/warnstyle.css') }}">
    <script src="{{ url_for('static', filename='js/warnscriptu.js') }}" defer></script>
</head>
<body>
    <div id="popup" class="popup">
        <div class="popup-content">
            <button id="closeBtn" class="popup-close">
                <img src="{{ url_for('static', filename='images/popup/CloseIcon.png') }}" alt="Close Icon">
            </button>
            <div class="popup-spacer"></div>
            <img id="warningIcon" src="{{ url_for('static', filename='images/popup/WarningIcon.png') }}" alt="Warning Icon">
            <div class="popup-BG">
            <div class="popup-message">
                <p>Warning: This is an important message. Please read it carefully.</p>
            </div>
        </div>
            <div class="popup-spacer"></div>
            <button id="acceptBtn" class="popup-button">
                <p id="acceptTxt">Accept</p>
                <img id="understand" src="{{ url_for('static', filename='images/popup/Submit_button.png') }}" alt="Check Icon">
            </button>
    </div>
</body>
</html>
